.app {
  text-align: center;
}

.posts-title {
  padding: 2rem;
  font-size: 3rem;
}

.posts-text {
  font-size: 1.5rem;
}

.posts-button {
  background-color: lightskyblue;
  border: 2px solid limegreen;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem;
}
.post {
  max-width: 300px;
  padding: 2rem;
  margin: 2rem 0;
  border: 2px solid #32cd32;
  box-shadow: 1px 1px 10px 5px limegreen;
  border-radius: 5%;
}

.post-img {
  border-radius: 100%;
}
